
@page "/PruebaColombia/PrecioPage/{PrecioId:int}"

@using PruebaColombia.Areas.PruebaColombia.Repositories;
@using PruebaColombia.Areas.PruebaColombia.Entities;
@using PruebaColombia.Areas.PruebaColombia.DTOs;
@inject PrecioRepository precioRepository;
@inject ProductoRepository productoRepository;

@if (PrecioId == 0)
{
    <PageTitle>Agregar precio - PruebaColombia</PageTitle>
}
else
{
    <PageTitle>Editar precio - PruebaColombia</PageTitle>
}

<PruebaColombia.Components.Layout.NavBarVerticalDashboard lstFoldersAndPages="lstFoldersAndPages"></PruebaColombia.Components.Layout.NavBarVerticalDashboard>

<div class="main-content position-relative max-height-vh-100 h-100">
    <PruebaColombia.Components.Layout.NavBarHorizontalDashboard></PruebaColombia.Components.Layout.NavBarHorizontalDashboard>
    <div class="container-fluid px-2 px-md-4">
        <div class="page-header min-height-300 border-radius-xl mt-4"
             style="background-image: url('assets/img/illustrations/Landscape2.jpg');">
            <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="card-header mb-0 pb-0 bg-white">
                <h1 class="mb-3">
                    @if(PrecioId == 0)
                    {
                        <span>Agregar precio</span>
                    }
                    else
                    {
                        <span>Editar precio</span>
                    }
                </h1>
                <NavLink class="btn btn-outline-info" href="PruebaColombia/PrecioPage">
                    <span class="fas fa-chevron-left"></span>
                    &nbsp;Volver
                </NavLink>
            </div>
            <div class="card-body px-0">
                <form method="post" @onsubmit="Submit"
                      @formname="precio-form" class="mb-4">
                    <AntiforgeryToken />
                    <!--Valor-->
                    <div class="mb-3">
                        <label for="valor"
                               class="input-group input-group-static">
                            Valor [$]
                        </label>
                        <input type="number"
                               step="0.1"
                               id="valor"
                               min="0" 
                               max="999999999" 
                               class="form-control"
                               required
                               @bind="Precio!.Valor" />
                    </div>
                    <!--ProductoId-->
                    <div class="mb-3">
                        <label for="productoid"
                               class="input-group input-group-static">
                            Producto
                        </label>
                        <select id="productoid"
                            class="form-control"
                            @bind=Precio.ProductoId>
                            <option value="0">Seleccionar</option>
                            @foreach (Producto producto in lstProducto)
                            {
                                <option value="@producto.ProductoId">@producto.Name</option>
                            }
                        </select>
                    </div>
                    
                    <hr />
                    <button id="btn-submit" type="submit"
                            class="btn bg-gradient-primary">
                        <i class="fas fa-pen"></i>
                        @if (PrecioId == 0)
                        {
                            <span>Agregar</span>
                        }
                        else
                        {
                            <span>Editar</span>
                        }
                    </button>
                    <NavLink class="btn btn-outline-info" href="PruebaColombia/PrecioPage">
                        <span class="fas fa-chevron-left"></span>
                        &nbsp;Volver
                    </NavLink>
                </form>
                @((MarkupString)Message)
            </div>
        </div>
    </div>

    <PruebaColombia.Components.Layout.FooterDashboard></PruebaColombia.Components.Layout.FooterDashboard>
</div>

@code {
    #region Properties
    public List<folderForDashboard> lstFoldersAndPages = [];

    public List<Role> lstRole { get; set; } = [];

    [Parameter]
    public int PrecioId { get; set; }

    public List<Producto> lstProducto = [];

    public string Message { get; set; } = "";

    [SupplyParameterFromForm]
    public Precio Precio { get; set; } = new();

    public User User { get; set; } = new();


    #endregion

    protected override void OnInitialized()
    {
        try
        {
            //Look for saved user in shared component, simulates a session
            User = StateContainer.User == null ? new() : StateContainer.User;

            lstFoldersAndPages = [];
            Precio = new();

            if (User != null)
            {
                if (User.UserId != 0)
                {
                    List<Menu> lstMenu = menuRepository
                                        .GetAll();

                    lstFoldersAndPages = rolemenuRepository
                                            .GetAllPagesAndFoldersForDashboardByRoleId(User.RoleId);

                    lstRole = roleRepository.GetAll();

                    lstProducto = productoRepository.GetAll();

                    if (PrecioId == 0)
                    {
                        //Create new Precio
                        Precio = new();
                    }
                    else
                    {
                        //Edit Precio

                        Precio = precioRepository
                                    .GetByPrecioId(PrecioId);
                    }
                }
                else
                {
                    //Not logged user

                    //Redirect to...
                    NavigationManager.NavigateTo("Login");
                }
            }
            else
            {
                //Impossible
            }

            base.OnInitialized();
        }
        catch (Exception ex)
        {
            Failure failure = new()
                {
                    Active = true,
                    DateTimeCreation = DateTime.Now,
                    DateTimeLastModification = DateTime.Now,
                    UserCreationId = 1,
                    UserLastModificationId = 1,
                    EmergencyLevel = 1,
                    Comment = "",
                    Message = ex.Message,
                    Source = ex.Source,
                    StackTrace = ex.StackTrace
                };

            failureRepository.Add(failure);

            Message = $@"<div class=""alert alert-danger text-white font-weight-bold"" role=""alert"">
                                Hubo un error. Intente nuevamente. Mensaje del error: {ex.Message}
                            </div>";
        }
    }

    private async Task Submit()
    {
        try
        {
            if (Precio.ProductoId == 0)
            {
                Message = $@"<div class=""alert alert-warning text-white font-weight-bold"" role=""alert"">
                                Seleccione un producto primero
                            </div>";
                return;
            }

            if (PrecioId == 0)
            {
                //Create new Precio
                Precio.Active = true;
                Precio.UserCreationId = User.UserId;
                Precio.UserLastModificationId = User.UserId;
                Precio.DateTimeCreation = DateTime.Now;
                Precio.DateTimeLastModification = DateTime.Now;

                precioRepository
                        .Add(Precio);
            }
            else
            {
                //Update data
                Precio.DateTimeLastModification = DateTime.Now;
                Precio.UserLastModificationId = User.UserId;

                precioRepository
                            .Update(Precio);
            }

            //Redirect to users page
            NavigationManager.NavigateTo("PruebaColombia/PrecioPage");
        }
        catch (Exception ex)
        {
            Failure failure = new()
                {
                    Active = true,
                    DateTimeCreation = DateTime.Now,
                    DateTimeLastModification = DateTime.Now,
                    UserCreationId = 1,
                    UserLastModificationId = 1,
                    EmergencyLevel = 1,
                    Comment = "",
                    Message = ex.Message,
                    Source = ex.Source,
                    StackTrace = ex.StackTrace
                };

            failureRepository.Add(failure);

            Message = $@"<div class=""alert alert-danger text-white font-weight-bold"" role=""alert"">
                                Hubo un error. Intente nuevamente. Mensaje del error: {ex.Message}
                            </div>";
        }
        finally
        {
            //Re-render the page to show ScannedText
            await InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
        }
    }

    
}

